html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

[data-tab-content]{
  display: none;
}

.active[data-tab-content]{
  display: block;
}

.body{
  padding: 0;
  margin: 0;
}

.body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f0f0f0;
}

.main {
  display: flex;

  gap: 20px;
}

/* ==== Side Column (Navigation) ==== */
.side-column {
   display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}


.side-column button {
  width: 180px;
  height: 45px;
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.side-column button:hover {
  background: #5e5c5c;
  color: rgb(255, 255, 255);
}


/* ==== Character Gallery (Grid Row with Flex items) */

.character {
  display: flex;
  /*min-width: 100px;
  max-width: 170px;*/
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.character img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  background: #ddd;
  border: 2px solid #bbb;
  transition: transform 0.2s ease;
}

.character img:hover {
  transform: scale(1.1);
}

/* ==== Footer ==== */
footer {
  background: white;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}